<!DOCTYPE html>
<html lang="ua" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Доставка продуктів з супермаркетів</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.min.js"></script>
  <meta name="keywords" content="Сервіс доставки, Доставка, Львів, Львівська область, Товар, продукти, опт, оптові ціни, заказ">
</head>

<body ng-app="Artmoney" ng-controller="Global">
  <h1>ЧУВА-ЧІ</h1>
  <div class="stone"  ng-click="put(3)">Камінь</div>
  <div class="paper " ng-click="put(3)">Папір</div>
  <div class="scissors" ng-click="put(3)">Ножниці</div>
  Переможець  - {{winner}}
  <br>
  {{countIT}} - it  <br>
    {{countYou}} - you  <br>
    {{countEver}} - НІчоя  <br>
  <script type="text/javascript" src="js/main.js"> </script>
</body>

</html>
